/* game board table */

body{ 
  background: rgb(29,253,156);
background: linear-gradient(90deg, rgba(29,253,156,1) 44%, rgba(252,69,246,0.8015581232492998) 88%);
 
}
#board { 
  margin-left: auto;
  margin-right: auto;
  background-image: url("plantsbackground.jpeg"); 
  background-size: cover;

}

#board td {
  width: 75px;
  height: 50px;
  border: solid 2px violet;
  border-radius: 8px ;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  margin-bottom: 10px;

}
.piece.p1 {
background-color: rebeccapurple;
 
}

.piece.p2 {
 background-color: rgba(39,231,171,1);

}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border:  1px lightgray;
}

#column-top td:hover {
  background-color: pink;
  opacity: .5;
}

h1 { 
  text-shadow: 7px 7px 5px rgb(23 10 6 / 33%);
  text-align: center;
  color: lavenderblush;
  font-family: cursive;
  font-size: 2.5em;
}

h3{ 
  text-align: center;
  text-decoration: underline;
  color: gray;
  font-family: cursive;
  font-size: 2em;
}

p{
  text-align: center;
  color: gray;
  font-family: cursive;
  font-size: 1em;
}

.rules {
  border: 1px gray; 

}